<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.recipe.mapper.BankCardMapper">

    <insert id="insert" parameterType="com.test.recipe.model.BankCard">
        INSERT
        bank_card (owner_id, card_number, bank, area, create_time, update_time)
        VALUES (
        #{ownerId},
        #{cardNumber},
        #{bank},
        #{area},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <update id="update" parameterType="com.test.recipe.model.BankCard">
        UPDATE bank_card
        <set>
            <if test="ownerId != null">
                owner_id = #{ownerId},
            </if>
            <if test="cardNumber != null">
                card_number = #{cardNumber},
            </if>
            <if test="bank != null">
                bank = #{bank},
            </if>
            <if test="area != null">
                area = #{area},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM bank_card
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.test.recipe.model.BankCard" parameterType="long">
        SELECT *
        FROM bank_card
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.test.recipe.model.BankCard">
        SELECT *
        FROM bank_card
    </select>

    <select id="findByOwnerId" resultType="com.test.recipe.model.BankCard" parameterType="long">
        SELECT *
        FROM bank_card
        WHERE owner_id = #{ownerId}
    </select>

</mapper>