<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.recipe.mapper.DailyReimbursementMapper">

    <select id="selectDailyReimbursement" resultType="com.test.recipe.model.DailyReimbursement">
        SELECT *
        FROM daily_reimbursement
        WHERE id = #{id}
    </select>


    <select id="findByRecipeId" resultType="com.test.recipe.model.DailyReimbursement">
        SELECT *
        FROM daily_reimbursement
        WHERE recipe_id = #{id}
    </select>


    <select id="selectAllDailyReimbursements" resultType="com.test.recipe.model.DailyReimbursement">
        SELECT *
        FROM daily_reimbursement
    </select>

    <insert id="insertDailyReimbursement" parameterType="com.test.recipe.model.DailyReimbursement"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO daily_reimbursement(recipe_id, bank_card_id)
        VALUES (#{recipeId}, #{bankCardId})
    </insert>

    <update id="updateDailyReimbursement" parameterType="com.test.recipe.model.DailyReimbursement">
        UPDATE daily_reimbursement
        <set>
            <if test="recipeId != null">
                recipe_id = #{recipeId},
            </if>
            <if test="bankCardId != null">
                bank_card_id = #{bankCardId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteDailyReimbursement">
        DELETE
        FROM daily_reimbursement
        WHERE id = #{id}
    </delete>
</mapper>
