<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.recipe.mapper.FeeItemMapper">

    <sql id="Base_Column_List">
        id
        ,recipe_id, fee_type, start_date, end_date, amount, start_city, end_city, purpose, people_count
    </sql>

    <insert id="insert" parameterType="com.test.recipe.model.FeeItem">
        INSERT INTO FeeItem (recipe_id, fee_type, start_date, end_date, amount, start_city, end_city, purpose,
                             people_count)
        VALUES (#{recipeId}, #{feeType}, #{startDate}, #{endDate}, #{amount}, #{startCity}, #{endCity}, #{purpose},
                #{peopleCount})
    </insert>

    <update id="update" parameterType="com.test.recipe.model.FeeItem">
        UPDATE FeeItem
        SET
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM FeeItem
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.test.recipe.model.FeeItem" parameterType="long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FeeItem
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.test.recipe.model.FeeItem">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FeeItem
    </select>

    <select id="findByReceiptId" resultType="com.test.recipe.model.FeeItem" parameterType="long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FeeItem
        WHERE receipt_id = #{receiptId}
    </select>

    <select id="aggByMonth" resultType="map">
        SELECT MONTH(CURDATE()) as month, SUM(amount) as total_amount
        FROM fee_item
        WHERE YEAR(start_date) = YEAR(CURDATE())
        GROUP BY MONTH(start_date)
    </select>

    <select id="aggByFeeType" resultType="map">
        SELECT fee_type, SUM(amount) as total_amount
        FROM fee_item
        GROUP BY fee_type
    </select>


</mapper>