<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.recipe.mapper.InvoiceMapper">

    <insert id="insert" parameterType="com.test.recipe.model.Invoice">
        INSERT INTO invoice (invoice_number, amount, invoice_date, invoice_type, recipe_id)
        VALUES (#{invoiceNumber}, #{amount}, #{invoiceDate}, #{invoiceType}, #{recipeId})
    </insert>

    <update id="update" parameterType="com.test.recipe.model.Invoice">
        UPDATE invoice
        <set>
            <if test="invoiceNumber != null">
                invoice_number = #{invoiceNumber},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="invoiceDate != null">
                invoice_date = #{invoiceDate},
            </if>
            <if test="invoiceType != null">
                invoice_type = #{invoiceType},
            </if>
            <if test="recipeId != null">
                recipe_id = #{recipeId}
            </if>
        </set>
        SET
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM invoice
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.test.recipe.model.Invoice" parameterType="long">
        SELECT *
        FROM invoice
        WHERE id = #{id}
    </select>

    <select id="findByNum" resultType="com.test.recipe.model.Invoice" parameterType="string">
        SELECT *
        FROM invoice
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.test.recipe.model.Invoice">
        SELECT *
        FROM invoice
    </select>

    <select id="findByReceiptId" resultType="com.test.recipe.model.Invoice" parameterType="long">
        SELECT *
        FROM invoice
        WHERE recipe_id = #{recipeId}
    </select>

</mapper>