<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.recipe.mapper.OvertimeApplyMapper">

    <select id="selectOvertimeApply" resultType="com.test.recipe.model.OvertimeApply">
        SELECT *
        FROM overtime_apply
        WHERE id = #{id}
    </select>


    <select id="findByRecipeId" resultType="com.test.recipe.model.OvertimeApply">
        SELECT *
        FROM overtime_apply
        WHERE recipe_id = #{id}
    </select>


    <select id="selectAllOvertimeApplys" resultType="com.test.recipe.model.OvertimeApply">
        SELECT *
        FROM overtime_apply
    </select>

    <insert id="insertOvertimeApply" parameterType="com.test.recipe.model.OvertimeApply" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO overtime_apply(recipe_id, start_date, end_date, hours)
        VALUES (#{recipeId}, #{startDate}, #{endDate}, #{hours})
    </insert>

    <update id="updateOvertimeApply" parameterType="com.test.recipe.model.OvertimeApply">
        UPDATE overtime_apply
        <set>
            <if test="recipeId != null">
                recipe_id = #{recipeId},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate}
            </if>
            <if test="hours != null">
                hours = #{hours}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteOvertimeApply">
        DELETE
        FROM overtime_apply
        WHERE id = #{id}
    </delete>
</mapper>
