<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.recipe.mapper.RecipeMapper">
    <resultMap id="RecipeMap" type="com.test.recipe.model.Recipe">
        <id property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="recipeType" column="recipe_type"/>
        <result property="amount" column="amount"/>
        <result property="uid" column="uid"/>
        <result property="departmentId" column="department_id"/>
        <result property="reason" column="reason"/>
        <result property="recipeStatus" column="recipe_status"/>
        <result property="denyDetail" column="deny_detail"/>
        <result property="processInstanceId" column="process_instance_id"/>
    </resultMap>

    <select id="selectRecipe" resultMap="RecipeMap">
        SELECT *
        FROM recipe
        WHERE id = #{id}
    </select>

    <select id="selectAllRecipes" parameterType="com.test.recipe.model.Recipe" resultMap="RecipeMap">
        SELECT *
        FROM recipe
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="no != null">
                AND no like CONCAT('%', #{no}, '%')
            </if>
            <if test="recipeId != null">
                AND recipe_id = #{recipeId}
            </if>
            <if test="startDate != null">
                AND start_date = #{startDate}
            </if>
            <if test="endDate != null">
                AND end_date = #{endDate}
            </if>
            <if test="reason != null">
                AND reason like CONCAT('%', #{reason}, '%')
            </if>
            <if test="uid != null">
                AND uid = #{uid}
            </if>
            <if test="recipeTypeList != null">
                AND recipe_type IN
                <foreach item="type" collection="recipeTypeList" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <insert id="insertRecipe" parameterType="com.test.recipe.model.Recipe" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO recipe(no, recipe_type, amount, uid, department_id, reason, recipe_status, deny_detail,
                           process_intance_id)
        VALUES (#{no}, #{recipeType}, #{amount}, #{uid}, #{departmentId}, #{reason}, #{recipeStatus}, #{denyDetail},
                #{processInstanceId})
    </insert>

    <update id="updateRecipe" parameterType="com.test.recipe.model.Recipe">
        UPDATE recipe
        SET no                 = #{no},
            recipe_type        = #{recipeType},
            amount             = #{amount},
            uid                = #{uid},
            department_id      = #{departmentId},
            reason             = #{reason},
            recipe_status      = #{recipeStatus},
            deny_detail        = #{denyDetail},
            process_intance_id = #{processInstanceId},
            WHERE id = #{id}
    </update>

    <delete id="deleteRecipe">
        DELETE
        FROM recipe
        WHERE id = #{id}
    </delete>

    <select id="aggByApprovalStatus" resultType="map">
        SELECT recipe_status, SUM(amount) as total_amount
        FROM recipe
        GROUP BY recipe_status
    </select>

</mapper>
