<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.recipe.mapper.RecipeMapper">

    <select id="selectRecipe" resultType="com.test.recipe.model.Recipe">
        SELECT *
        FROM recipe
        WHERE id = #{id}
    </select>

    <select id="selectAllRecipes" parameterType="com.test.recipe.model.Recipe"
            resultType="com.test.recipe.model.Recipe">
        SELECT *
        FROM recipe
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="no != null">
                AND no like CONCAT('%', #{no}, '%')
            </if>
            <if test="reason != null">
                AND reason like CONCAT('%', #{reason}, '%')
            </if>
            <if test="uid != null">
                AND uid = #{uid}
            </if>
            <if test="recipeTypeList != null">
                AND recipe_type IN
                <foreach item="type" collection="recipeTypeList" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <insert id="insertRecipe" parameterType="com.test.recipe.model.Recipe" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO recipe(recipe_type, amount, uid, department_id, reason, recipe_status, deny_detail,
                           process_instance_id)
        VALUES (#{recipeType}, #{amount}, #{uid}, #{departmentId}, #{reason}, #{recipeStatus}, #{denyDetail},
                #{processInstanceId})
    </insert>

    <update id="updateRecipe" parameterType="com.test.recipe.model.Recipe">
        UPDATE recipe
        <set>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="recipeType != null">
                recipe_type = #{recipeType},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="reason != null">
                reason = #{reason},
            </if>
            <if test="recipeStatus != null">
                recipe_status = #{recipeStatus},
            </if>
            <if test="denyDetail != null">
                deny_detail = #{denyDetail},
            </if>
            <if test="processInstanceId != null">
                process_instance_id = #{processInstanceId}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteRecipe">
        DELETE
        FROM recipe
        WHERE id = #{id}
    </delete>

    <select id="aggByApprovalStatus" resultType="map">
        SELECT recipe_status, SUM(amount) as total_amount
        FROM recipe
        GROUP BY recipe_status
    </select>

</mapper>
