<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.recipe.mapper.TravelReimbursementMapper">

    <select id="selectTravelReimbursement" resultType="com.test.recipe.model.TravelReimbursement">
        SELECT *
        FROM travel_reimbursement
        WHERE id = #{id}
    </select>


    <select id="findByRecipeId" resultType="com.test.recipe.model.TravelReimbursement">
        SELECT *
        FROM travel_reimbursement
        WHERE recipe_id = #{id}
    </select>


    <select id="selectAllTravelReimbursements" resultType="com.test.recipe.model.TravelReimbursement">
        SELECT *
        FROM travel_reimbursement
    </select>

    <insert id="insertTravelReimbursement" parameterType="com.test.recipe.model.TravelReimbursement"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO travel_reimbursement(recipe_id, bank_card_id, related_travel_apply_id, travel_target)
        VALUES (#{recipeId}, #{bankCardId}, #{relatedTravelApplyId}, #{travelTarget})
    </insert>

    <update id="updateTravelReimbursement" parameterType="com.test.recipe.model.TravelReimbursement">
        UPDATE travel_reimbursement
        <set>
            <if test="recipeId != null">
                recipe_id = #{recipeId},
            </if>
            <if test="bankCardId != null">
                bank_card_id = #{bankCardId}
            </if>
            <if test="relatedTravelApplyId != null">
                related_travel_apply_id = #{relatedTravelApplyId}
            </if>
            <if test="travelTarget != null">
                travel_target = #{travelTarget}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteTravelReimbursement">
        DELETE
        FROM travel_reimbursement
        WHERE id = #{id}
    </delete>
</mapper>
